.Testimonials-Text
{
	font-family: lato-i3, sans-serif;
}

.Testimonials-Name
{
	font-family: lato-n4, sans-serif;
}

.Slider-Heading-H1
{
	font-family: lato-n1, sans-serif;
}

.H1-Heading,.Copyright,.Footer-Text,.Section-Heading-H2,.Page-Text,.Footer-Text-Large,.Slider-Text-H3
{
	font-family: lato-n3, sans-serif;
}

#u254-4,#u429-4,#u423-4,#u5269-4
{
	font-family: marck-script-n4, cursive;
}

#u1994-4
{
	font-family: lato-n3, sans-serif;
}

#u1993-4
{
	font-family: ubuntu-n4, sans-serif;
}

#widgetu1979.frm-sub-st #u1997-4 p
{
	font-family: lato-n4, sans-serif;
}

#u1997-4
{
	font-family: lato-n3, sans-serif;
}

#u1996-4
{
	font-family: lato-n3, sans-serif;
}

#u1998-4
{
	font-family: lato-n3, sans-serif;
}

#u2002-4
{
	font-family: lato-n3, sans-serif;
}

#u2003-4
{
	font-family: ubuntu-n4, sans-serif;
}

#u1988-4
{
	font-family: lato-n3, sans-serif;
}

#u1990-4
{
	font-family: ubuntu-n4, sans-serif;
}

#u5252-4
{
	font-family: lato-n3, sans-serif;
}

#u5250-4
{
	font-family: ubuntu-n4, sans-serif;
}

#widgetu1991_input,#widgetu1991_prompt,#widgetu2000_input,#widgetu2000_prompt,#widgetu1986_input,#widgetu1986_prompt,#widgetu5249_input,#widgetu5249_prompt
{
	font-family: ubuntu, sans-serif;
}

#u1480.TabbedPanelsTabSelected #u1483-4 p,#u1594.TabbedPanelsTabSelected #u1595-4 p,#u1602.TabbedPanelsTabSelected #u1605-4 p,#u1598.TabbedPanelsTabSelected #u1601-4 p,#u1606.TabbedPanelsTabSelected #u1608-4 p,#u1484.TabbedPanelsTabSelected #u1486-4 p,#u885-4,#u882-4,#u880-4,#u878-4,#u204-4
{
	font-family: marck-script-n4, cursive;
}

#u210-4
{
	font-family: marck-script-n4, cursive;
}

#u220-4
{
	font-family: marck-script-n4, cursive;
}

#u227-4
{
	font-family: marck-script-n4, cursive;
}

#u233-4
{
	font-family: marck-script-n4, cursive;
}

#u5526-6,#u375-4
{
	font-family: marck-script-n4, cursive;
}

#u386-4
{
	font-family: marck-script-n4, cursive;
}

#u402-4
{
	font-family: marck-script-n4, cursive;
}

#u382-4
{
	font-family: marck-script-n4, cursive;
}

#u397-4
{
	font-family: marck-script-n4, cursive;
}

#u5575-6
{
	font-family: marck-script-n4, cursive;
}

#u5572-4
{
	font-family: ubuntu-n4, sans-serif;
}

#u5570-4
{
	font-family: ubuntu-n4, sans-serif;
}

#u5560-4
{
	font-family: ubuntu-n4, sans-serif;
}

#u5558-4
{
	font-family: ubuntu-n4, sans-serif;
}

#u5562-4
{
	font-family: ubuntu-n4, sans-serif;
}

#u5563-4
{
	font-family: ubuntu-n4, sans-serif;
}

#widgetu5569_input,#widgetu5569_prompt,#widgetu5557_input,#widgetu5557_prompt,#widgetu5561_input,#widgetu5561_prompt
{
	font-family: ubuntu, sans-serif;
}

#u5543-4
{
	font-family: ubuntu-n4, sans-serif;
}

#u5574-4,#u450-4
{
	font-family: marck-script-n4, cursive;
}

#u237-2,#u504-9,#u504-10,#u504-12,#u241-2,#u242-2,#u1654-4,#u1658-11,#u4773-6,#u1660-2,#u1370-4
{
	font-family: marck-script-n4, cursive;
}

#u1486-4
{
	font-family: marck-script-n4, cursive;
}

#u1483-4
{
	font-family: marck-script-n4, cursive;
}

#u4702-4,#u4686-4,#u4686-7,#u4686-11,#u4686-15,#u4686-19,#u4686-21,#u1789-4,#u4685-4,#u2282-4,#u2282-7,#u2282-11,#u2282-15,#u2282-19,#u4733-4,#u1581-4
{
	font-family: marck-script-n4, cursive;
}

#u1605-4
{
	font-family: marck-script-n4, cursive;
}

#u1595-4
{
	font-family: marck-script-n4, cursive;
}

#u1601-4
{
	font-family: marck-script-n4, cursive;
}

#u1608-4
{
	font-family: marck-script-n4, cursive;
}

#u4686-8,#u4686-12,#u4686-16,#u4686-20,#u4686-22,#u2282-8,#u2282-12,#u2282-16,#u2282-20,#u2328-4,#u2420-4,#u2420-6,#u2420-11,#u2466-13
{
	font-family: lato-n3, sans-serif;
}

#u2328-3,#u2328-8,#u2328-12,#u2328-16,#u2328-20,#u2328-24,#u2328-28,#u4735-4,#u2374-30,#u4749-4,#u2420-3,#u2420-5,#u2420-10,#u4757-4,#u2466-4,#u2466-8,#u2466-12,#u4765-4,#u243-4,#u525-7,#u2151-8,#u2152-7,#u2153-7,#u2154-7,#u2155-7
{
	font-family: marck-script-n4, cursive;
}

