.Testimonials-Text
{
	font-family: lato-i3, sans-serif;
}

.Testimonials-Name
{
	font-family: lato-n4, sans-serif;
}

.Slider-Heading-H1
{
	font-family: lato-n1, sans-serif;
}

.H1-Heading,.Copyright,.Footer-Text,.Section-Heading-H2,.Page-Text,.Footer-Text-Large,.Slider-Text-H3
{
	font-family: lato-n3, sans-serif;
}

#u2677-4,#u2678-4,#u2680-4
{
	font-family: marck-script-n4, cursive;
}

#u2747-2,#u3729-10,#u5329-4,#u5330-4,#u5603-6
{
	font-family: marck-script-n4, cursive;
}

#u5586-4
{
	font-family: ubuntu-n4, sans-serif;
}

#u5585-4
{
	font-family: ubuntu-n4, sans-serif;
}

#u5594-4
{
	font-family: ubuntu-n4, sans-serif;
}

#u5592-4
{
	font-family: ubuntu-n4, sans-serif;
}

#u5598-4
{
	font-family: ubuntu-n4, sans-serif;
}

#u5596-4
{
	font-family: ubuntu-n4, sans-serif;
}

#widgetu5584_input,#widgetu5584_prompt,#widgetu5591_input,#widgetu5591_prompt,#widgetu5595_input,#widgetu5595_prompt
{
	font-family: ubuntu, sans-serif;
}

#u5605-4
{
	font-family: ubuntu-n4, sans-serif;
}

#u5581-4,#u2783-9,#u2748-2,#u2942-4,#u2938-10,#u2940-2,#u2941-6,#u3296-4
{
	font-family: marck-script-n4, cursive;
}

#u3730-7,#u3730-9,#u3730-10,#u3730-15,#u3730-19,#u3730-23,#u3730-25,#u2960-4
{
	font-family: marck-script-n4, cursive;
}

#u3730-11,#u3759-8
{
	font-family: lato-n3, sans-serif;
}

#u2837-4,#u2792-4,#u2838-4
{
	font-family: lato-n7, sans-serif;
}

#u3759-4,#u3759-7,#u3759-12,#u3759-16,#u3759-20,#u3759-24,#u3759-28,#u3759-32,#u3759-41,#u3759-48,#u2746-2,#u2745-4,#u2749-7,#u2750-7,#u2751-7
{
	font-family: marck-script-n4, cursive;
}

