#u2675
{
	border-color: #000000;
	background: #8B77B7 url("../../images/footer-dots.gif") repeat-x center top;
}

#u2676
{
	border-color: #000000;
	background: #8B77B7 url("../../images/header-pattern-fill-3.png") repeat center top;
}

#u2678-4
{
	background-color: transparent;
	font-size: 20px;
	text-align: center;
	font-family: marck-script, cursive;
	font-weight: 400;
	position: relative;
}

#u2677-4,#u2680-4
{
	background-color: transparent;
	text-align: center;
	font-family: marck-script, cursive;
	font-weight: 400;
	position: relative;
}

#u5523
{
	border-color: #000000;
	position: relative;
	background: transparent url("../../images/vk5%20(2).png") no-repeat center center;
}

#u5523:hover
{
	background-repeat: no-repeat;
	background-position: left bottom;
}

#u5524
{
	border-color: #000000;
	position: relative;
	background: transparent url("../../images/instagram19%20(2).png") no-repeat center center;
}

#u5524:hover
{
	background-repeat: no-repeat;
	background-position: center bottom;
}

#u5525
{
	border-color: #000000;
	position: relative;
	background: transparent url("../../images/email103.png") no-repeat center center;
}

#u5525:hover
{
	background-repeat: no-repeat;
	background-position: right bottom;
}

#u2681-4,#u2685-4
{
	background-color: transparent;
	text-align: center;
	position: relative;
}

